<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">すぎうぷろだ</h3>
      </div>
      <div>
      {{ ext }}
      </div>
      {% for item in my_list %}
      <p><a href="./uploads/{{item}}">{{item}}</a></p>
      {% endfor %}
      <hr/>

      <div ondragover="f1(event);" ondrop="f2(event)"><table border="1">
      <tr>
      <td>
      <br /><br /><br />
      ここに乗せて
      <br /><br /><br />
      </td>
      </tr>
      </table>
      </div>

      <div>
      <!-- ドラッグにしたので -->
      <!--form action="upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file"><br /><br />
        <input type="submit" value="Upload">
      </form-->
      </div>
    </div>

  <script>
  function sendFile(file) {
      var uri = "./upload";
      var xhr = new XMLHttpRequest();
      var fd  = new FormData();
      
      xhr.open("POST", uri, true);
      xhr.onreadystatechange = function() {
          if (xhr.readyState == 4 && xhr.status == 200) {
              // Handle response.
              if (xhr.responseText != "") { 
                  alert(xhr.responseText); // handle response.
              }
          }
      };
      // fileはフォームのnameとかと同じ
      fd.append('file', file);
      // Initiate a multipart/form-data upload
      xhr.send(fd);
  }
  // ドロップ受け付け判定
  function f1(event) {
    // ドロップを受け付ける
    event.preventDefault();
  }
  
  // ドロップ処理
  function f2(event) {
    // ページの遷移を防止
    //（これがないとドラッグ内容の文字列へブラウザが遷移する）
    event.preventDefault();
    
    // イベントに格納されたファイルを取り出し
    var f = event.dataTransfer.files[0];
    
    // ファイル情報を表示
    /*alert(
      "ファイル名：" + f.name 
      + "\nファイルの型：" + f.type 
      + "\nファイルサイズ：" + f.size / 1000 + " KB "
      + "\n最終更新日時：" + f.lastModifiedDate
    );*/
    
    // ファイル内容の読み取り
    var reader = new FileReader(); // ファイルを読み取るオブジェクト
    reader.onloadend = function() {
      //alert("ファイルの内容：" + reader.result);
    };
    reader.readAsDataURL(f);
    // 画像のアップロード
    sendFile(f);
    alert("Click 'OK' and the page will be refreshed");
    location.reload();
  }
  </script>
  </body>
</html>
 
